<!-- Debounce Time  -->
<div class="debounce-time">
  <debounce-time></debounce-time>
</div>

<!-- Debounce Time  -->
<div class="take">
  <take></take>
</div>

<!-- ShareReplay  -->
<div class="ShareReplay">
  <share-replay></share-replay>
</div>

<!-- CombineLatest  -->
<div class="combine-latest">
  <combine-latest></combine-latest>
</div>

<!-- unsubscribe-decorator -->
<div class="unsubscribe-decorator">
  <button mat-stroked-button color="warn" routerLink="/unsubscribe-decorator">
    Redirect to Comppnenr
  </button>
</div>
