<section class="rxjs-example">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        <h2 class="example-title">ShareReplay</h2>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h1>
      {{ sharedData$ | async | json }}
    </h1>
    <h1>
      {{ sharedData$ | async | json }}
    </h1>
    <h1>
      {{ sharedData$ | async | json }}
    </h1>
    <h1>
      {{ sharedData$ | async | json }}
    </h1>
  </mat-expansion-panel>
</section>
